html{font-size:62.5%;width:100%;margin:0;padding:0;min-height:100%;height:100%;}
body{position:relative;font-size:17px;font-size:1.7rem;padding:0;font-family:'lato', sans-serif;font-weight:300;width:100%;margin:0 auto;max-width:1024px;background-color:#FFF;color:#000;min-height:100%;}
#header{position:fixed;display:block;top:0;height:50px;z-index:9;left:0;right:0;overflow:visible;}
#header .logo{text-align:center;width:100%;margin:0;}
#back{position:absolute;cursor:pointer;padding:0 20px 0 30px;z-index:9;display:inline-block;height:50px;line-height:50px;left:0;font-family:'lato', sans-serif;font-weight:300;font-size:20px;font-size:2rem;display:none;}
#back:before{left:14px;z-index:1;content:'';top:14px;height:0;width:0;position:absolute;border-right:10px solid #FFF;border-top:10px solid transparent;border-bottom:10px solid transparent;}
.panel_top{position:absolute;width:100%;background-color:#FFF;z-index:2;padding-top:20px;}
.panel_bottom{display:block;position:absolute;top:0;left:0;right:0;min-height:100%;border-right:solid 35px;z-index:1;}
iframe{position:absolute;top:0;left:0;height:100%;width:100%;}
#brand{position:absolute;opacity:0;display:block;top:0;right:0;background-color:#FFF;width:100px;}
#brand:hover{opacity:1;}
#container{position:absolute;top:46px;left:0;right:0;bottom:0;margin:0;padding-bottom:30px;}
.home_content{display:block;overflow:auto;margin-bottom:20px;padding-top:0px;}
.home_content a{display:block;width:80%;padding:10px 5%;margin:0 5%;text-align:center;}
#home{position:relative;height:100%;width:100%;padding-bottom:30px;}
.dim,
.subdim{display:block;width:100%;height:100%;z-index:3;position:absolute;top:0;left:0;background-color:rgba(0, 0, 0, 0.4);display:none;}
.panel{display:none;position:absolute;background-color:#FFF;top:0;right:0;left:0;bottom:0;z-index:7;padding-bottom:30px;}
.logo{font-family:'lato', sans-serif;font-weight:300;padding:0;}
.logo img{height:26px;width:97.5px;padding:10px 0;}
h1{padding:0;display:block;width:90%;margin:0 5% 15px;border-bottom:1pt solid;line-height:150%;font-family:'lato', sans-serif;font-weight:300;}
h2,
h3{padding:0 5%;margin:0;}
h2{font-weight:300;font-size:21px;font-size:2.1rem;}
h3{font-weight:700;font-size:28px;font-size:2.8rem;color:#4d4d4d;margin-bottom:10px;}
h4{font-weight:700;font-size:18;font-size:1.8rem; border-top: solid 1pt #CCC; line-height: 140%; padding: 20px 0 5px; margin: 20px 0 0;}
h5{font-weight:700;font-size:21px;font-size:2.1rem;padding: 0 5%;}
p{padding:0 5%;margin:0 0 20px;font-family:'lato', sans-serif;font-weight:300;color:#4d4d4d;line-height:140%;}
a{color:inherit;}
img#product{width:20%;margin:0 5% 0 2.5%;display:block;float:left;max-width:200px;}
#video_panel{display:none;position:absolute;background-color:#FFF;top:0;right:0;left:0;bottom:0;z-index:8;}
#video_panel a{display:block;margin:20px 5%;padding: 20px 0; text-align: center; border: solid 1pt #858585;}
.video_holder{margin:0 5% 20px;}
.home_content{font-family:'lato', sans-serif;font-weight:700;}
ol{margin:5%;padding:0;list-style:normal;}
ol li{position:relative;padding:10px 10px 10px 60px;margin:10px 0;cursor:pointer;list-style-position:inside;line-height:30px;line-height:3rem;font-family:'lato', sans-serif;font-weight:700;font-size:20px;font-size:2rem;min-height:30px;}
ol li p{padding:0;font-size:17px;font-size:1.7rem;margin:5px 0;}
ol li:before{content:'';border:2pt solid;text-align:center;display:block;position:absolute;left:10px;top:10px;height:30px;width:30px;background-color:#FFF;}
ol li.checked li{text-decoration:line-through;}
ol li.checked:before{background:url('check@2x.png') center center no-repeat;background-size:cover;background-color:transparent;}
ul{margin:0;padding:0;}
ul.points { list-style: normal; padding: 0 5%; margin-bottom: 40px; }
ul.points li { list-style: normal; list-style-position: outside; padding: 5px 20px; cursor:text; background-color: transparent; color: #000; font-size: 16px; font-size: 1.6rem; line-height: 130%; border-bottom: none;}
ul.points li:hover { background-color: transparent; }
ul.points li:before, ul.points li:after {display: none;}

ul li{color:#FFF;position:relative;-webkit-transition:background-color 0.3s;-moz-transition:background-color 0.3s;-ms-transition:background-color 0.3s;-o-transition:background-color 0.3s;transition:background-color 0.3s;border-bottom:solid 1pt;margin:0;padding:0;display:block;line-height:30px;line-height:3rem;font-family:'lato', sans-serif;font-weight:300;font-size:24px;font-size:2.4rem;cursor:pointer;padding:15px 80px 15px 5%;}
ul li:after{position:absolute;content:'';display:block;top:0;bottom:0;right:0;z-index:2;width:35px;}
ul li:before{position:absolute;content:'';-webkit-transition:border-left-color 0.3s;-moz-transition:border-left-color 0.3s;-ms-transition:border-left-color 0.3s;-o-transition:border-left-color 0.3s;transition:border-left-color 0.3s;display:block;top:50%;right:23px;width:0;z-index:3;margin-top:-15px;border-top:15px solid transparent;border-bottom:15px solid transparent;border-left:12px solid;}
ul a{text-decoration:none;}
@font-face{font-family:'lato';src:url('lato-light.eot');src:url('lato-light.eot?#iefix') format('embedded-opentype'), url('lato-light.woff') format('woff'), url('lato-light.ttf') format('truetype');font-weight:300;font-style:normal;}
@font-face{font-family:'lato';src:url('lato-bold.eot');src:url('lato-bold.eot?#iefix') format('embedded-opentype'), url('lato-bold.woff') format('woff'), url('lato-bold.ttf') format('truetype');font-weight:700;font-style:normal;}
.sixteen-by-nine{position:relative;}
.sixteen-by-nine:before{content:'';display:block;width:100%;height:0;padding-bottom:56.25%;}
.ratio-inner,
.ratio-content{position:absolute;top:0;bottom:0;left:0;right:0;}
.hide{display:none;}